<<<<<<< HEAD
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #4CAF50;
  color: white;
}
=======
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box; 
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}




body {
    font-family: Helvetica Neue, Arial;
    font-size: 18px;
}

h1 {
    color: rgba(221, 221, 63, 0.6);
    font-size: 40px;
    margin-bottom: 30px;
}


h2 {
    font-size: 25px
}

p {
    text-align: justify
}

.main-text {
    text-align: justify;
    margin-bottom: 30px;
}

.author-text {
    font-size: 22px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}
.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 40%;
    float: left;
    padding-right: 30px;
    padding-right: 30px;
    position: relative;
}

.other-posts {

    float: left;
}

.author-box {
    padding-top: 10px;
    border-top:  10px solid #57f53a;
}

.other {
    margin-bottom: 30px;
}

.author-box img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
}

.blog-post img {
    height:  150px;
    width: auto;
}
.date {
    position: absolute;
    top: 10px;
    right: 30px;
    
}
>>>>>>> 3f644e79fb6e3c6527cba9c8fe2f42f778a66c12
